@charset "UTF-8";
p {
    margin: 50px 100px;
    padding: 5px;
    border-style: double;
    border-color: lavender;
    border-width: 12px;
    font-family: 'Inconsolata', monospace;
}
header {
    font-size: 55px;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
h1 {
    vertical-align: middle;
    margin-left: 350px;
    margin-right: 40px;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
}
h2 {
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    font-family: 'Cedarville Cursive', cursive;
}
