@charset "UTF-8";

p {
    margin: 20px;
    padding: 15px;
    background-color: aliceblue;
    font-family: 'Inconsolata', monospace;
    font-size: 21px;
}
header {
    font-size: 55px;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 68px;
    background-color: aliceblue;
}
h1 {
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    font-size: 42px;
    font-family: 'Cedarville Cursive', cursive;
    color:black   
}
h2 {
    vertical-align: middle;
    text-align: center;
    font-size: 37px;
    font-family: 'Cedarville Cursive', cursive;
    color:rgb(63, 63, 63)
}
body {
    background-image: url(images/background.jpg);
    background-repeat: repeat;
}
#nav_bar {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    
}


/*iframe {
    background-color: none;
    width: 480px;
    height: 240px;
    frameborder: 
    display: block;
    text-align: match-parent;
}*/
#book_page_footer {
    font-size: 30px;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    margin-top: 20px;
    border-style: double;
    border-color: aliceblue;
}
